<div id="q">
<% @quotes.each do |q|%>
<p>"<%= q.content %>" -<i><%= q.author %></i>
</p>
<% end %>
</div>


<div>
<p><%= will_paginate @quotes %></p>
</div>
<% if current_user %>
<div class="agregar">
<%= link_to "Agregá una nueva Orsiquote", "quotes/new" %>
</div>
<% end %>


