<h1>#Orsiquotes</h1>
<div id="q">
<% @quotes.each do |q|%>
<p>"<%= q.content %>" -<i><%= q.author %></i>
</p>
<% end %>
</div>

<div class="agregar">
<%= link_to "Ingresa a traves de Twitter y Agregar Nueva Orsiquote", "/auth/twitter" %>
</div>


<div>
<p><%= will_paginate @quotes %></p>
</div>
