/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#wrapper{
text-align:center;

}

#q p{
margin-top:30px;
}

.agregar{
margin-top:45px;
}


.agregar a{
text-decoration:none;
font-size:25px;
color:white;
background:grey;
padding:10px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
-moz-text-shadow:1px 1px 1px black;
-webkit-text-shadow:1px 1px 1px black;
text-shadow:1px 1px 1px black;
}

.pagination{
margin-top:40px;
}

#form input{
text-decoration:none;
font-size:25px;
color:white;
background:grey;
padding:10px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
-moz-text-shadow:1px 1px 1px black;
-webkit-text-shadow:1px 1px 1px black;
text-shadow:1px 1px 1px black;
}
}


